* { margin: 0; padding: 0;}
html, body, div, p, ul, li, img, h1, h2, h3, h4, h5, h6, h2, span, a { margin: 0; padding: 0;}

div.comm_wrap, div.DB_wrap { position: relative; margin: 0 auto; width: 500px; font-family: Dotum,돋움; font-size: 12px;}
div.comm_wrap a, div.DB_wrap a { text-decoration: none;}
div.comm_wrap img, div.DB_wrap img { border: none; vertical-align: middle;}
div.comm_wrap li, div.DB_wrap li { list-style: none;}

p.comm_notice, div.comm_tab_btn, div.comm_wrap div.comm_bbs ul { position: absolute;}


/* 매인 상단 */
.wrap-ClassName { position: relative; margin: 0 auto; width: 500px; font-family: 'MalgunGothic','맑은고딕',Dotum,돋움;}
.wrap-ClassName a { text-decoration: none; }
.wrap-ClassName a:hover { text-decoration: underline;}
.wrap-ClassName p, .wrap-ClassName ul { position: absolute; list-style: none; }
.wrap-ClassName img { border: none; }


.col_white	{ color: #fff;}
.col_red	{ color: #ff0000;}
.col_orange	{ color: #ff6000;}
.col_pink	{ color: #ff7878;}
.col_blue	{ color: #007eff;}
.col_sky	{ color: #41acff;}
.col_green	{ color: #2ed95a;}
.col_yellow { color: #d19800;}
.col_purple { color: #7a3db9;}
.col_olive	{ color: #4e9100;}

.bg_olive	{ background-color: #4e9100;}
.bg_orange	{ background-color: #ff6000;}
.bg_blue	{ background-color: #007eff;}
.bg_yellow	{ background-color: #d19800;}
.bg_purple	{ background-color: #7a3db9;}
.bg_hp	{ background-color: #ABF200;}
.bg_atk	{ background-color: #FFD8D8;}
.bg_matk	{ background-color: #D4F4FA;}
.bg_def	{ background-color: #FAECC5;}
.bg_mdef	{ background-color: #CEFBC9;}
.bg_cri	{ background-color: #A566FF;}

/* DB 테이블 Basic */
div.DB_wrap { width: 500px; margin: 0 auto;}
div.DB_wrap table { position: relative; background: #a5bde7; width: 100%; font-size: 12px;}
div.DB_wrap table td, div.DB_wrap table th { text-align: center; height: 31px;}
div.DB_wrap table th { color: #fff; background: #516787;}
div.DB_wrap table td { color: #333; background: #f8f8f8;}
div.DB_wrap table th.td_left, div.DB_wrap table td.td_left { text-align: left; padding-left: 10px;}

	/* 추가*/
div.DB_wrap table tr th.edit_title { position: relative; padding-left: 10px;}
div.DB_wrap table tr th.edit_title a { position: absolute; top: 5px; right: 10px; display: block; width: 40px; height: 20px; line-height: 20px; text-align: center;
	background: #777; color: #fff;}
div.DB_wrap table tr td.edit_txt { height: 50px;}

/* DB 리스트 */
div.DB_list { padding-top: 5px;}
div.DB_list table { border-top: 1px solid #222222;}
div.DB_list table th, div.DB_list table td { border-bottom: 1px solid #ccc;}
div.DB_list table th { height: 34px;}
div.DB_list table td { height: 60px;}
div.DB_list table td:first-child img.list_char { width: auto; height: 58px; margin: 5px;}
div.DB_list table td.td_name { text-align: left; padding-left: 10px;}
div.DB_list table td.td_name a { color: #0067ff; font-weight: bold; font-size: 14px; text-decoration: none;}
div.DB_list table td.td_name a span { color: #ff6000; font-size: 15px;}
div.DB_list table td.td_name a:hover { text-decoration: underline;}
div.DB_list table td.td_skill { text-align: left;}

/* DB 상세보기 */

div.DB_view { margin-top: 10px; padding: 10px 10px 10px 10px;
	background: #f5efe7;}
div.DB_view table { width: 100%; margin-bottom: 10px;}
div.DB_view table:last-child { margin-bottom: 0;}
div.DB_view table tr td.td_class img { width: 16px;}
div.DB_view table tr td.td_name { font-size: 14px; font-weight: bold;
	color: #0067ff;}


/* 캐릭터 기본정보 */
div.char_info { overflow: hidden;}
div.flat_left { float: left; width: 49.5%;}
div.flat_right { float: right; width: 49.5%;}


/* 타이틀 */
div.view_title { position: relative; height: 32px; line-height: 32px; font-size: 14px; font-weight: bold; text-align: left; padding: 6px 0 0 10px; margin-bottom: 10px;
	color: #ec5e00; 
	border-bottom: 2px solid #ec5e00;}
div.view_title a { position: absolute; top: 12px; right: 0; display: block; width: 50px; height: 20px; line-height: 22px; text-align: center; font-size: 12px;
	color: #fff; background-color: #555;}

/* 정보 */
div.char_info { overflow: hidden;}
div.char_info table td.view_img { height: ;}
div.char_info table td.view_img img { width: 100%;}
div.char_info table.info_txt, div.char_info table.info_char { width: 49.5%;}

table tr td.td_graph { position: relative; padding-right: 50px;}
span.graph_bg, span.graph_bg em, strong.graph_point, strong.graph_rank { display: block;}
span.graph_bg { margin-left: 7px;
	background: #e3e3e3;}
span.graph_bg em { height: 20px;}
strong.graph_point { position: absolute; top: 8px; right: 10px; width: 30px; text-align: left;}
strong.graph_rank { position: absolute; top: 8px; right: 1px;}
strong.graph_rank em { font-style: inherit;}

/* 스킬 정보 */
table tr td.td_pd10 { padding: 7px;}
table tr td.td_skpt { padding: 7px 3px; overflow: hidden;}
table tr td.td_skpt span { position: relative; display: block; float: left; width: 13%; margin: 0 1%;} /* 아이콘 크기 조절 */
table tr td.td_skpt span strong { position: absolute; top: 0; left: 0; width: 12px; height: 12px; font-weight: normal; font-size: 8px; text-align: center;
	color: #fff; background: rgba(0,0,0,0.7);}
table tr td.td_skpt span img { width: 100%;}
table tr td.td_rank { height: 47px; padding: 3px; text-align: left;}
table tr td.td_rank img { width: 13%; margin: 3px;}

